.header-section {
  position: relative;
  background-image: url('../assets/images/HeaderSection.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 120vh; 
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start; 
  color: #f9f9f9;
  padding-top: 200px; 
  padding-left: 100px; 
}

.header-overlay {
  padding: 20px;
  text-align: center; 
}

.header-section h1 {
  font-size: 4rem; 
  line-height: 1.2;
  z-index: 1; 
  max-width: 600px; 
  margin: 0; 
}

.highlight-green {
  color: #12C675; 
}

.header-section::after {
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 100%;
  height: 100px; 
  background-color: #f9f9f9;
  transform: skewY(-5deg); 
  transform-origin: bottom left;
  z-index: 0; 
}
