body {
    margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('../assets/images/background loginpage.jpg'); /* Remplace par le chemin de ton image */
  background-size: cover; /* Pour que l'image prenne toute la place */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat; /* Pour éviter que l'image se répète */
  height: 100vh; /* S'assure que le fond prend toute la hauteur */
  color: white;
  background-color: #A3FFC8;
}

.login-container {
    display: flex;
    justify-content: flex-start; /* Aligne les éléments à gauche */
    align-items: center;
    height: 100vh;
    padding-left: 50px; /* Espace à gauche pour la photo */
  }
  .photo-section {
    width: 500px; /* Occupation de 50% de l'écran pour la photo */
    height: 100%;
    background-image: url('../assets/images/doctor img.jpg'); /* Remplace par l'image de la photo */
    background-size: cover;
    background-position: center;
    margin-right: 20px;
  }

.login-box {
    
        background-image: url('../assets/images/loginSectionTransp.png'); /* Remplace par le chemin de l'image de fond pour la section login */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        padding: 40px;
        width: 350px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: white; /* Texte blanc pour contraster avec l'image */
      
}

.login-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #1abc9c;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #16a085;
}

.login-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.login-footer a {
    font-size: 14px;
    color: #1abc9c;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}
