.nav-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffa1;
  height: 60px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 0 10px;
}

.nav-logo a {
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
}

.logo-green {
  color: #12C675;
}

.logo-black {
  color: #444444;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-menu li {
  margin: 0 15px;
}

.nav-menu li a {
  color: #444444;
  text-decoration: none;
  font-size: 25px;
  position: relative;
  font-weight: bold;
}

.nav-menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0%;
  height: 3px; 
  background-color: #444444; 
  transition: width 0.25s ease-in-out; 
}

.nav-menu li a:hover::after {
  width: 100%;
}


.nav-buttons {
  display: flex;
  align-items: center;
}

.language-switcher {
  margin-left: 15px;
}

.language-switcher select {
  background-color: transparent;
  color: #696969;
  border: none;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.language-switcher select:hover {
  opacity: 0.8;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

/* Adjust the navbar height on smaller screens */
@media (max-width: 768px) {
  .nav {
    height: 40px; /* Smaller height on tablets */
  }
}

@media (max-width: 480px) {
  .nav {
    height: 35px; /* Even smaller height on mobile */
  }
}









/* Styles for the user profile section */
.user-profile-custom {
  position: relative;
  cursor: pointer;
  margin-left: 15px; /* Space between language switcher and profile pic */
}

.profile-pic-custom {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: opacity 0.25s ease-in-out;
}

.profile-pic-custom:hover {
  opacity: 0.8;
}

/* Dropdown menu styles */
.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  color: #444444;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100; 
  display: none;
}

.dropdown-menu.active {
  display: block; 
}

.dropdown-menu span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.dropdown-menu button {
  background-color: #12C675;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; 
}

.dropdown-menu button:hover {
  background-color: #12C675; /* Darken button on hover */
}