.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../assets/images/Header nav.png'); /* Remplace par le chemin de ton image */
    background-size: cover; /* Pour que l'image prenne toute la place */
    background-position: center; /* Centrer l'image */
    padding: 20px;
    color: #ffffff;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  /* Aligner les liens et le switch de langue sur le même niveau */
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .navbar a:hover {
    opacity: 0.8;
  }
  
  .language-switcher {
    margin-left: 15px;
  }
  
  .language-switcher select {
    background-color: transparent;
    color: #000000;
    border: none;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .language-switcher select:hover {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.1); /* Légère ombre au survol */
  }
  