.dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
    linear-gradient(to bottom, #a7e3bc, #cef1d9cb),
    url('../assets/images/background signup.jpg') center/cover no-repeat; 
    color: #444444;
    min-height: 100vh;
    width: 100%;
    padding-top: 80px;
    position: relative;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    background-color: #e0f7fa5c;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.dashboard-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #444444; 
    text-align: left; 
    margin-left: 20px; 
}

.search-bar {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 100%; 
    max-width: 400px;
    padding: 15px;
    border-radius: 30px; 
    border: 1px solid #e0e0e0;
    font-size: 1rem;
    background-color: #eeeded; 
    color: #393b39; 
    padding-left: 40px; 
    background-image: url('../assets/images/Frame 44.png'); 
    background-repeat: no-repeat;
    background-position: 10px center; 
}

.search-bar input[type="text"]::placeholder {
    color: #393b39; 
}

.calendar-grid {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 30px; 
    margin-top: 25px;
    width: 100%;
}


.gender-heading, .diagnosis-heading {
    font-size: 30px;
    margin-top: 40px; 
    color: #444444;
    text-align: left;
    margin-left: 20px;
}

.calendar-day { 
    padding: 15px;
    text-align: center;
    height: 400px; 
}

.dashboard-buttons {
    display: flex;
    justify-content: center; 
    margin-top: 50px;
    flex-wrap: wrap; 
    gap: 20px;
    width: 100%; 
}

.dashboard-button {
    background-color: #12C675;
    border: 2px solid #12c675;
    color: #0f0f0f;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.dashboard-button:hover {
    opacity: 0.8;
}

.dashboard-button:active {
    opacity: 1;
}
